* {
  margin: 0;
  font-family: Roboto;
}

::selection {
  background: gray;
}

.headline {
  height: 100vh;
  text-align: center;
  color: white;
  background-image: url(images/aircraft.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.headline-texts{
  padding-top: 15%;
}

.headline-texts h1{
  font-weight: 300;
  font-size: 6em;
}

.headline-texts h2 {
  font-size: 1.5em;
}

#headline-name-text {
  animation-name: show-name-slowly;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#headline-subtitle-text {
  animation-name: show-subtitle-slowly;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.content {
  margin-top: 35px;
  text-align: center;
}

.content h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

#scroll_down_arrow {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 90%;
  color: white;
}

@keyframes show-name-slowly {
  0% {
    opacity: 0.1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

@keyframes show-subtitle-slowly {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
